* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

#site-container {
    display: grid;
    grid-template: 120px auto / 1fr 4fr;
    height: 100vh;
    background-color: lightblue;
}

h1 {
    grid-column: 1 / -1;
    align-self: end;
    padding: 20px;
}

#sidebar {
    background-color: grey;
    padding: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn-container > button {
    display: flex;
    height: 2.4rem;
    text-align: left;
    padding-left: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: white;
    align-items: center;
}

.btn-container  span {
    flex-grow: 1;
}

.project-delete-btn {
    background-color: white;
    padding: 2px;
}

.project-delete-btn:hover {
    filter: brightness(0.8);
    border-radius: 4px;
}

button > i {
    margin-right: 12px;
}

#sidebar > h2 {
    padding: 40px 0 24px;
}

#project-add-container {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border-radius: 8px;
    gap: 8px;
    padding: 8px 20px 8px 12px;
}

#project-add-title {
    border: none;
    border-radius: 4px;
    padding: 8px calc(12px + 1.4rem + 8px) 8px 12px;
    margin-right: -8px;
}

#project-add-title:focus {
    margin-right: -12px;
}

#project-add-input-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

#project-add-title:focus ~ button {
    display: block;
}

#confirm-project-btn {
    height: 1.4rem;
    width: 1.4rem;
    display: none;
    border: 1px solid grey;
    border-radius: 4px;
    background: url("./assets/check.svg");
    background-color: rgb(144, 255, 144);
    margin-left: -1.4rem;
}

#project-add-title {
    flex-grow: 1;
    background-color: white;
}

.error-msg {
    color: red;
}

#project-add-error-msg {
    font-size: 0.8rem;
    padding-left: 12px;
}

#content {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 24px;
}

.todo {
    display: grid;
    grid-template: 1rem / auto 1fr auto 9rem 3rem 3rem;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    align-items: center;
    background-color: bisque;
    padding: 16px;
    gap: 24px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.todo.editing > .todo-title,
.todo.editing > .todo-due-date,
.todo.editing > .todo-description {
    display: none;
}

.todo.editing > .todo-edit-title,
.todo.editing > .todo-edit-due-date,
.todo.editing.expanded > .todo-edit-description,
.todo.editing > .todo-cancel-edit-btn {
    display: block;
}

.todo.editing > .todo-edit-title,
.todo.editing > .todo-edit-description {
    justify-self: stretch;
}

.todo-due-date {
    text-align: center;
}

.todo-checkbox-btn,
.todo-edit-btn,
.todo-delete-btn,
.todo-details-btn {
    border: none;
    background-color: inherit;
}

.todo-checkbox-btn,
.todo-edit-btn,
.todo-delete-btn {
    width: 1.4rem;
    height: 1.4rem;
}

.todo-checkbox-btn,
.todo-details-btn {
    border: 1px solid grey;
}

.todo.checked {
    opacity: 0.5;
}

.todo.checked > .todo-checkbox-btn {
    background-color: #87A96B;
    background-image: url("./assets/check-bold.svg");
}

.todo:hover,
.todo > button:hover {
    filter: brightness(0.8);
}

.todo.low {
    border-left: 5px solid green;
}

.todo.med {
    border-left: 5px solid orange;
}

.todo.high {
    border-left: 5px solid red;
}

.todo-title {
    margin-right: auto;
}

.todo-details-btn {
    width: 8rem;
    height: 1.8rem;
}

.todo-edit-btn,
.todo-delete-btn {
    justify-self: center;
}

.todo-edit-btn {
    background-image: url("./assets/square-edit-outline.svg");
}

.todo.editing > .todo-edit-btn {
    background-image: url("./assets/content-save-edit-outline.svg");
}

.todo-delete-btn {
    background-image: url("./assets/trash-can.svg");
}

.todo > button {
    border-radius: 4px;
}

.todo-description {
    display: none;
    grid-column: 2 / 3;
    max-height: 240px;
    overflow: scroll;
}

.todo-edit-description {
    grid-column: 2 / 3;
}

.expanded .todo-description {
    display: block;
}

.todo-cancel-edit-btn {
    grid-column: 5  / 7;
    border: none;
    border: 1px solid grey;
    background-color: red;
    color: white;
    height: 1.8rem;
    width: 6rem;
    align-self: start;
    justify-self: center;
}

input,
textarea {
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
}

#todo-add-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: gainsboro;
    padding: 16px;
    border-radius: 0 8px 8px 0;
    border-radius: 8px;
}

#todo-add-form input[type="date"] {
    margin-left: 16px;
}

#todo-add-form > fieldset {
    display: flex;
    gap: 16px;
    border: none;
}

#todo-add-form legend {
    float: left;
}

#todo-add-form input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#todo-add-form input[type="radio"] + label{
    border-radius: 8px;
    padding: 4px 12px;
}

#todo-add-priority-low + label {
    border: 2px solid green;
    color: green;
}

#todo-add-priority-med + label {
    border: 2px solid orange;
    color: orange;
}

#todo-add-priority-high + label {
    border: 2px solid red;
    color: red;
}

#todo-add-form input[type="radio"]:checked + label{
    color: white;
}

#todo-add-priority-low:checked + label {
    background-color: green;;
}

#todo-add-priority-med:checked + label {
    background-color: orange;
}

#todo-add-priority-high:checked + label {
    background-color: red;
}

#todo-add-form input[type="radio"]:focus + label{
    border: 2px solid white;
}

#todo-add-form input[type="radio"]:hover + label{
    cursor: pointer;
}

#todo-add-form-footer {
    display: flex;
    align-items: center;
}

#todo-add-btn {
    font-size: 1.2rem;
    padding: 4px 12px;
    margin-left: auto;
    border: none;
    border-radius: 8px;
    border: 1px solid grey;
}

.hidden {
    display: none;
}
